.Overview {
  display: flex;
  padding: 10px 20px 30px 20px;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  min-height: 120px;
}
.Overview p {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
