.Overviews {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Overviews > div {
  flex-basis: 33%;
}
.Overviews > div:first-child {
  background-image: linear-gradient(to right, #fe8464, #ff7394);
}

.Overviews > div:nth-child(2) {
  background-image: linear-gradient(to left, #0074be, #00a7dd);
}

.Overviews > div:last-child {
  background-image: linear-gradient(to left, #8c71ed, #4c7ecf);
}
