.Button {
  padding: 10px 100px;
  border: 1px solid;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  background-color: #24272b;
  color: white;
}
.Button:hover {
  background-color: #6e7073;
}
